<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
        <button ion-button (click)="logout()">
          Logout
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="givenName">
      <hr>
      <p>You are logged in as: <b>{{ givenName }}</b></p>
      <div class="claims">
        <strong>Claims from Identity Token JWT:</strong>
        <pre>{{claims | json}}</pre>
      </div>
  </div>
</ion-content>
